/* Small Devices (Smartphones) */
@media only screen and (max-width: 599px) {
  .header-menu-wrap ul li > a:hover::before,
  .header-menu-wrap ul li > a.active::before {
    bottom: 5%;
  }
  .food-bg-cap img {
    width: 150px;
    top: 15%;
    rotate: -40deg;
  }

  .cap-down img {
    width: 150px;
    bottom: 9%;
    right: 6%;
    rotate: 135deg;
  }

  .move-mouse img:nth-child(2) {
    top: 8%;
    width: 55px;
  }

  .move-mouse img:nth-child(3) {
    width: 50px;
  }
  .web-tittle {
    font-size: 35px;
    margin: 0;
  }

  .small-heading {
    font-size: 12px;
    padding: 10px 0;
  }

  p {
    padding: 10px 0;
    /* line-height: 1.3; */
  }
  section.book-table {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-top .container {
    justify-content: space-evenly;
  }
  .footer-box {
    /* text-align: center; */
    padding-left: 30px;
  }
  .footer-h {
    margin: 0;
    margin-top: 30px;
  }
  /* Styles for small devices */

  .right-banner {
    padding: 3.5rem 0;
    margin-top: 1.5rem;
  }
  .header-contact-detail span,
  .header-contact-detail span a {
    font-size: 12px;
    margin-right: 10px;
  }

  .header-contact-detail i,
  .cart i {
    font-size: 14px;
    margin-right: 4px;
  }

  .cart {
    padding-right: 10px;
  }

  .cart span {
    right: 4px;
  }
  .left-banner strong {
    font-size: 28px;
  }

  .banner-img-cover img {
    max-width: 90%;
  }
  .offer-rate-banner {
    bottom: -15%;
    right: 30%;
  }
  .order-btn {
    bottom: 0;
  }

  .owl-carousel.owl-theme.banner-slider .owl-dots .owl-dot {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .banner-fly-object img:nth-child(1) {
    left: 4%;
    width: 45%;
    top: 15%;
  }

  .banner-fly-object img:nth-child(2) {
    right: 10%;
  }

  .banner-fly-object img:nth-child(3) {
    left: -17px;
  }

  .banner-fly-object img:nth-child(4) {
    right: 0%;
    width: 65%;
  }

  .banner-fly-object img:nth-child(5) {
    right: 0%;
    width: 65%;
    bottom: 10%;
  }
  .header-logo img {
    max-width: 100px;
  }

  .default-btn,
  .yellow_btn {
    padding: 10px 5px;
    line-height: 1.6;
  }

  .primary-header-one.primary-header {
    padding: 10px 0;
  }
  /* ===============about us css starts ================== */
  .abt-food-img {
    height: 400px;
  }

  .food_1 {
    top: 0;
    right: 1rem;
    height: 400px;
  }

  .food_2 {
    height: 400px;
    left: 0;
  }

  .food_3 {
    bottom: 0;
    right: 1rem;
  }

  .abt-food-cntent {
    padding: 0 1rem;
  }
  /* ===============testimonials css starts =============== */
  section.food-menu {
    padding: 3rem 0;
  }

  .nav-link.nav-tab-btn {
    font-size: 12px;
    padding: 8px 15px;
    margin-bottom: 8px;
  }
  .food-offer-wrap {
    padding: 6rem 0;
  }

  .food-menu-offer-img img {
    width: 80%;
  }

  .offer-banner img {
    width: 290px;
    top: 250px;
    right: 0;
  }
  /* ====circle animation==== */

  .center-logo img {
    width: 280px;
  }

  .circle {
    width: 40%;
    height: 40%;
    top: 35%;
    left: 35%;
  }

  .big-circle {
    width: 60%;
    height: 60%;
    top: 5%;
    left: 5%;
  }

  .center-logo {
    top: 35%;
    left: 35%;
  }

  .main {
    margin-top: 0;
  }

  section.welcome-part {
    padding-bottom: 0 !important;
  }
  .move-mouse img:nth-child(1),
  .move-mouse img:nth-child(4) {
    width: 100px;
  }

  .move-mouse img:nth-child(1) {
    /* top: 50%; */
    left: 35%;
  }

  .move-mouse img:nth-child(4) {
    bottom: 30%;
    right: 35%;
  }
  /* ==================== */
  /* =============footer css starts here ============= */
  .footer-box.footer-map {
    justify-content: start;
  }

  .footer-box.footer-map iframe {
    width: 100%;
  }
  /* ===============about us page ========================= */
  .web-banner-wrapper strong {
    font-size: 30px;
  }

  .center-logo img,
  .abt-us-img img,
  .story-box-img img {
    max-width: 300px;
    width: 100%;
    padding: 0;
  }

  .abt-us-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .story-box-img {
    display: flex;
    justify-content: center;
  }

  .counter-box span {
    font-size: 30px;
    padding-right: 1rem;
  }

  .counter-box strong {
    display: block;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
  }

  .work-box strong {
    font-size: 20px;
  }

  .work-box p {
    font-size: 14px;
  }
  .filters-button-group {
    display: flex;
    flex-wrap: wrap;
  }

  .tabs > li > a {
    padding: 10px 15px 10px 10px;
    font-size: 15px;
    margin: 0 5px 15px;
    display: flex;
    align-items: center;
  }

  .tm-tab-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
  .sticky {
    top: 0;
    padding: 10px;
    padding-top: 20px;
  }
  .tm-gallery-item {
    padding: 0 40px;
  }
  .tm-gallery-item figure img {
    height: auto;
  }
  .div-two.abt-list {
    padding: 20px;
  }

  .img-offer-wrap.menu-offer {
    right: 0;
  }
  .events-details {
    padding: 0 1rem;
  }
  .membership-box {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
}
.membership-box {
  padding: 0 4rem;
}
section.banner-slider {
  padding: 3rem 0;
}

@media only screen and (min-width: 600px) and (max-width: 991px) {
  .header-menu-wrap ul li > a:hover::before,
  .header-menu-wrap ul li > a.active::before {
    bottom: 5%;
  }
  .food-bg-cap img {
    width: 150px;
    top: 15%;
    rotate: -40deg;
  }

  .cap-down img {
    width: 150px;
    bottom: 9%;
    right: 6%;
    rotate: 135deg;
  }

  .move-mouse img:nth-child(2) {
    top: 8%;
    width: 55px;
  }

  .move-mouse img:nth-child(3) {
    width: 50px;
  }
  .right-banner {
    padding: 3.5rem 0;
    margin-top: 1.5rem;
  }
  .web-tittle {
    font-size: 35px;
    margin: 0;
  }

  .small-heading {
    font-size: 12px;
    padding: 10px 0;
  }

  p {
    padding: 10px 0;
    /* line-height: 1.3; */
  }
  section.book-table {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-top .container {
    justify-content: space-evenly;
  }
  .footer-box {
    /* text-align: center; */
    padding-left: 30px;
  }
  .footer-h {
    margin: 0;
    margin-top: 30px;
  }
  /* Styles for medium devices */
  /* ===========menu css starts here ===================== */
  .nav-link.nav-tab-btn {
    margin-bottom: 10px;
  }
  /* ===============about us page ========================= */
  .web-banner-wrapper strong {
    font-size: 30px;
  }

  .center-logo img,
  .abt-us-img img,
  .story-box-img img {
    max-width: 300px;
    width: 100%;
    padding: 0;
  }

  .abt-us-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .story-box-img {
    display: flex;
    justify-content: center;
  }

  .counter-box span {
    font-size: 30px;
    padding-right: 1rem;
  }

  .counter-box strong {
    display: block;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
  }

  .work-box strong {
    font-size: 20px;
  }

  .work-box p {
    font-size: 14px;
  }
  .filters-button-group {
    display: flex;
    flex-wrap: wrap;
  }

  .tabs > li > a {
    padding: 10px;
    font-size: 15px;
    margin: 0 5px 15px;
    display: flex;
    align-items: center;
  }

  .tm-tab-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
  .sticky {
    top: 0;
    padding: 10px;
    padding-top: 20px;
  }
  .tm-gallery-item {
    padding: 0 25px;
  }
  .tm-gallery-item figure img {
    height: 360px;
  }
  .div-two.abt-list {
    padding: 20px;
  }

  .img-offer-wrap.menu-offer {
    right: 0;
  }
  .events-details {
    padding: 0 1rem;
  }
}

/* Large Devices (Desktops, Laptops) */
@media only screen and (min-width: 992px) {
  /* Styles for large devices */
  .header-menu-wrap ul li > a {
    padding: 0 10px;
    font-size: 16px;
  }
}

/* Extra Large Devices (Large Desktops, Wide Screens) */
@media only screen and (min-width: 1200px) {
  /* Styles for extra large devices */
  .header-menu-wrap ul li > a {
    padding: 0 15px;
    font-size: 18px;
  }
}

/* Adjust width of time input field */
.time-input {
  width: 100%;
}
@media only screen and (max-width: 500px) {
  .story-box-img img:nth-child(2) {
    bottom: -11%;
    right: -40px;
  }
}
@media (max-width: 991.5px) {
  .header-menu-wrap ul li > a::before {
    transform: translateX(0);
    left: 0;
  }
  .header-menu-wrap ul li > a.active::before {
    transform: translateX(0);
    width: 40px;
    left: 20px;
  }
  .header-menu-wrap ul li:hover > a::before {
    transform: translateX(0);
    width: 40px;
    left: 20px;
  }
}

/* ================cart css respo starts here ================ */
