/* Small Devices (Smartphones) */
@media only screen and (max-width: 599px) {
  /* Styles for small devices */
  .header-contact-detail span,
  .header-contact-detail span a {
    font-size: 12px;
    margin-right: 10px;
  }

  .header-contact-detail i,
  .cart i {
    font-size: 14px;
    margin-right: 4px;
  }

  .cart {
    padding-right: 10px;
  }

  .cart span {
    right: 4px;
  }
  .left-banner strong {
    font-size: 28px;
  }

  .banner-img-cover img {
    max-width: 80%;
  }

  .owl-carousel.owl-theme.banner-slider .owl-dots .owl-dot {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .banner-fly-object img:nth-child(1) {
    left: -4%;
  }

  .banner-fly-object img:nth-child(2) {
    right: 10%;
  }

  .banner-fly-object img:nth-child(3) {
    left: -17px;
  }

  .banner-fly-object img:nth-child(4) {
    right: -10%;
    width: 75%;
  }

  .banner-fly-object img:nth-child(5) {
    right: 5%;
    width: 75%;
  }
  .header-logo img {
    max-width: 100px;
  }

  .default-btn,
  .yellow_btn {
    padding: 0 20px;
  }

  .primary-header-one.primary-header {
    padding: 10px 0;
  }
  /* ===============about us css starts ================== */
  .abt-food-img {
    height: 400px;
  }

  .food_1 {
    top: 0;
    right: 1rem;
    height: 400px;
  }

  .food_2 {
    height: 400px;
    left: 0;
  }

  .food_3 {
    bottom: 0;
    right: 1rem;
  }

  .abt-food-cntent {
    padding: 0 1rem;
  }
  /* ===============testimonials css starts =============== */
  section.food-menu {
    padding: 3rem 0;
  }

  .nav-link.nav-tab-btn {
    font-size: 12px;
    padding: 8px 15px;
    margin-bottom: 8px;
  }
  .food-offer-wrap {
    padding: 6rem 0;
  }

  .food-menu-offer-img img {
    width: 80%;
  }

  .offer-banner img {
    width: 290px;
    top: 250px;
    right: 0;
  }
/* ====circle animation==== */
  
.center-logo img {
  width: 240px;
}

.circle {
  width: 40%;
  height: 40%;
  top: 35%;
  left: 35%;
}

.big-circle {
  width: 60%;
  height: 60%;
  top: 5%;
  left: 5%;
}

.center-logo {
  top: 35%;
  left: 35%;
}

.main {
  margin-top: 0;
}

section.welcome-part {
  padding-bottom: 0 !important;
}
.move-mouse img:nth-child(1), .move-mouse img:nth-child(4) {
  width: 100px;
}

.move-mouse img:nth-child(1) {
  top: 150px;
  left: 30px;
}

.move-mouse img:nth-child(4) {
  bottom: 200px;
}
/* ==================== */
  /* =============footer css starts here ============= */
  .footer-box.footer-map {
    justify-content: start;
  }

  .footer-box.footer-map iframe {
    width: 100%;
  }
}

section.banner-slider {
  padding: 3rem 0;
}

.right-banner {
  padding-top: 3.5rem;
}

/* Medium Devices (Tablets) */
@media only screen and (min-width: 600px) and (max-width: 991px) {
  /* Styles for medium devices */
  /* ===========menu css starts here ===================== */
  .nav-link.nav-tab-btn {
    margin-bottom: 10px;
}
}

/* Large Devices (Desktops, Laptops) */
@media only screen and (min-width: 992px) {
  /* Styles for large devices */
  .header-menu-wrap ul li > a {
    padding: 0 10px;
    font-size: 18px;
  }
}

/* Extra Large Devices (Large Desktops, Wide Screens) */
@media only screen and (min-width: 1200px) {
  /* Styles for extra large devices */
  .header-menu-wrap ul li > a {
    padding: 0 15px;
    font-size: 18px;
  }
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
