* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --roboto: "Roboto Condensed", sans-serif;
  --bebas: "Bebas Neue", sans-serif;
  --popin: "Poppins", sans-serif;
  --maincolor: #e9831d;
  --secondcolor: #333533;
}
body {
  /* font-family: var(--popin); */
  overflow-x: clip;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}
img {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
ul,
li {
  margin: 0;
  padding: 0;
}
b,
strong {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  /* font-family: "Poppins", sans-serif; */
}
option, ::placeholder, select{
  color: #010f1c;
}
.cnct-form .form-control:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}
.web-tittle {
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 48px;
}
p {
  color: #606060;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.6;
  margin: 0;
  padding: 20px 0;
}
section{
  overflow-x: clip;
}
.col-xs-12.col-sm-6.col-md-6 {
  justify-content: center;
  align-items: center;
  display: flex;
}
.small-heading {
  color: var(--maincolor);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  padding: 16px 0;
  display: block;
}

/* =============================
button css
=============================== */
.default-btn,
.yellow_btn {
  display: inline-block;
  background: var(--maincolor);
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 50px;
  padding: 0 35px;
  letter-spacing: 1px;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  transition: all ease 700ms;
  -moz-transition: all ease 700ms;
  -webkit-transition: all ease 700ms;
  -ms-transition: all ease 700ms;
  -o-transition: all ease 700ms;
  z-index: 1;
  text-transform: uppercase;
  border: 1px solid transparent;
}
.default-btn:hover,
.yellow_btn:hover {
  color: #fff;
}
.yellow_btn:hover {
  border: 1px solid var(--maincolor);
}
.default-btn span,
.yellow_btn span {
  background: var(--secondcolor) none repeat scroll 0 0;
  border-radius: 50%;
  display: block;
  height: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: width 0.6s ease 0s, height 0.6s ease 0s;
  -moz-transition: width 0.6s ease 0s, height 0.6s ease 0s;
  -webkit-transition: width 0.6s ease 0s, height 0.6s ease 0s;
  -ms-transition: width 0.6s ease 0s, height 0.6s ease 0s;
  -o-transition: width 0.6s ease 0s, height 0.6s ease 0s;
  width: 0;
  z-index: -1;
}
.default-btn:hover span,
.yellow_btn:hover span {
  height: 562.5px;
  width: 562.5px;
}
.default-btn i,
.yellow_btn i {
  margin-left: 8px;
}
.yellow_btn {
  background: var(--secondcolor);
}
.yellow_btn span {
  background: var(--maincolor) none repeat scroll 0 0;
}
/* ===========================
button css
============================= */
.form-box-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-control,
input,
select#guests,
textarea#message {
  /* border-radius: 6px !important; */
  border-color: none;
  border: 0;
}
.input-group i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #010f1c;
}
/* =========================
banner css starts 
============================= */
section.banner-slider {
  padding: 6rem 0;
  position: relative;
}
.left-banner strong {
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 68px;
  line-height: 1;
  color: var(--secondcolor);
}

.left-banner span {
  color: var(--maincolor);
}
.banner-img-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner-img-cover img {
  max-width: 450px;
  width: 100%;
  /* box-shadow: #e9831d 0px 7px 29px 0px; */
  border-radius: 100%;
}
.owl-dot img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-right: 20px;
}
.banner-slider .owl-dots .owl-dot span {
  display: none !important;
}
.right-banner {
  position: relative;
}

.owl-carousel.owl-theme.banner-slider .owl-dots {
  position: absolute;
  left: -35rem;
  bottom: 2rem;
}
/* ===========animation for the banner sliding============= */
.banner-slider .owl-carousel .owl-item.active {
  transform: rotate(-0.25turn);
}
.banner-slider .owl-carousel .owl-item {
  transition: all 0.75s ease-in-out;
}

.banner-slider .owl-carousel .owl-item {
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}
/* ===========animation for the banner sliding============= */

.circle-animated-box {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.move-mouse img:nth-child(1) {
  position: absolute;
  top: 30%;
  left: 6%;
  rotate: -70deg;
  width: 216px;
}

.move-mouse img:nth-child(2) {
  position: absolute;
  top: 20%;
  left: 35%;
}

.move-mouse img:nth-child(3) {
  position: absolute;
  top: 25%;
  right: 15%;
  rotate: 7deg;
}

.move-mouse img:nth-child(4) {
  position: absolute;
  bottom: 20%;
  right: 7%;
  rotate: 135deg;
  width: 216px;
  /* z-index: 0; */
  transform: scalex(-1);
}
.banner-fly-object img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 14%;
  rotate: -30deg;
}
.banner-fly-object img:nth-child(2) {
  position: absolute;
  top: 0;
  right: 20%;
  rotate: 120deg;
}
.banner-fly-object img:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 6%;
}
.banner-fly-object img:nth-child(4) {
  position: absolute;
  bottom: -18%;
  right: -3%;
  width: 300px;
}
.banner-fly-object img:nth-child(5) {
  position: absolute;
  bottom: -5%;
  z-index: 1;
  right: 5%;
  width: 350px;
  rotate: -8deg;
}
#circlebanner {
  display: flex;
  margin-top: 30px;
}
#circlebanner button {
  width: 85px;
  border-radius: 100%;
  background: none;
  border: none;
  margin-right: 15px;
}

/* ===================================
banner for dobjects fly
====================================== */
.mouse_move.objects img {
  position: absolute;
  width: 110px;
  z-index: -4;
}

.mouse_move.objects img:nth-child(01) {
  top: 0;
  left: 40%;
}

.mouse_move.objects img:nth-child(02) {
  bottom: 35%;
  left: 0;
}

.mouse_move.objects img:nth-child(03) {
  bottom: 0;
  left: 15%;
}

.mouse_move.objects img:nth-child(04) {
  bottom: 25%;
  left: 40%;
  rotate: -40deg;
}
/* /===============================
banner slider css end 
===================================*/

/* =================================
food box css starts
==================================== */
.mouse_move.second-objects img {
  position: absolute;
  /* width: 100px; */
}

.mouse_move.second-objects img:nth-child(01) {
  top: 10%;
  left: 0;
}

.mouse_move.second-objects img:nth-child(02) {
  top: 10%;
  right: 0;
}
.food-box-wrap {
  text-align: center;
  display: block;
  padding: 20px;
}

.food-box-wrap strong {
  display: block;
  padding: 20px 0;
  font-size: 20px;
}

section.food-box {
  padding: 4rem 0;
  background: #f9f9f9;
  position: relative;
}
/* ================================
food box css starts
================================== */

/* =================================
about us css starts 
===================================== */
section.cafe-hrs {
  background-image: linear-gradient(#f8f9facf, #f8f9fabf),
    url(../img/demo-2.jpg);
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: 100%;
}
section.abt-food {
  padding: 5.5rem 0 5rem 0;
  background: #fdf3e8;
  position: relative;
}
section.banner_slider img {
  height: 700px;
  width: 100%;
}
.bg-img-top img {
  width: 240px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
}
.bg-img-down img {
  width: 240px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.1;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.abt-food-img {
  width: 100%;
  height: 500px;
  position: relative;
}

.food_1,
.food_2,
.food_3 {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.food_1 {
  width: 55%;
  height: 500px;
  top: -70px;
  right: 0;
  transform: rotate(6deg);
}

.food_2 {
  width: 50%;
  height: 450px;
  bottom: 2rem;
  left: 50px;
}

.food_3 {
  width: 55%;
  height: 250px;
  bottom: -20px;
  right: 0;
}

.food_1 img,
.food_2 img,
.food_3 img {
  height: 100%;
  width: 100%;
}
.abt-food-cntent {
  padding-left: 2rem;
}
.div-two {
  display: flex;
  padding-bottom: 20px;
}

.div-two ul {
  margin: 0;
  padding: 0;
}

.div-two li {
  list-style: none;
  margin-right: 25px;
}

.div-two i {
  color: var(--maincolor);
  margin-right: 10px;
}

.div-two span {
  color: #010f1c;
  font-size: 15px;
  letter-spacing: 1px;
}
/* ==================================
about us css end 
===================================== */

/*===================================*
   START MENU STYLE
*===================================*/
section.food-menu {
  padding: 6rem 0;
  position: relative;
}
.menu-list-details button {
  background: transparent;
  border: none;
  color: var(--maincolor);
}
.menu-list img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  object-fit: cover;
  min-width: 75px;
  border: 1px solid var(--maincolor);
  /* padding: 2px; */
}
.menu-list {
  display: flex;
  padding-top: 28px;
}
.menu-list-details strong {
  font-size: 20px;
}
.menu-list-details p {
  padding: 10px 0;
}
.menu-list-details {
  margin-left: 20px;
}
.food-review i,
.food-review strong {
  color: var(--maincolor);
}
/* .food-review {
  display: flex;
  justify-content: space-between;
} */

.food-review span {
  color: #7e807e;
}
.nav.nav-tab-btn-wrap {
  justify-content: center;
  margin-top: 2rem;
}

.nav-link.nav-tab-btn.active {
  background: var(--maincolor);
  border: 2px solid;
}

.nav-link.nav-tab-btn {
  font-size: 16px;
  color: #9e9e9e;
  padding: 10px 25px;
  border-radius: 0;
  border: 2px solid;
  margin: 0 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.food-menu-offer-img img {
  width: 100%;
  object-fit: cover;
  max-width: 400px;
}

.food-menu-offer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.food-offer-wrap {
  position: relative;
  height: 100%;
}

.food-bg-cap img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 200px;
}
.cap-down img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  width: 200px;
}
.offer-banner img {
  position: absolute;
  top: 50%;
  width: 300px;
  right: -10%;
}
/*===================================*
   END MENU STYLE
*===================================*/

/* ==================================
circular animated css
===================================== */
/******* Common Element CSS Start ******/
.main-container {
  min-height: 55vh;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  height: 440px;
  /* overflow: hidden; */
}
.main {
  margin: 0px auto;
  /* width: 480px; */
  /* height: 480px; */
  position: relative;
  margin-top: 2rem;
}
.center-logo::after,
.center-logo::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 3px dotted #495057;
  opacity: 0.2;
  border-radius: 50%;
  pointer-events: none;
  animation: Rotate 20s linear infinite;
  -webkit-animation: Rotate 20s linear infinite;
  z-index: -1;
}

.center-logo::after {
  inset: 30px;
}
.icon-block {
  width: 55px;
  height: 55px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  background-image: linear-gradient(180deg, #fefefe 0%, #fefefe 100%);
  -webkit-background-image: linear-gradient(180deg, #fefefe 0%, #fefefe 100%);
  box-shadow: 0 2px 4px 0 #d9ded8;
  -webkit-box-shadow: 0 2px 4px 0 #d9ded8;
  padding: 4px;
  transition: 0.3s ease;
}
.icon-block i {
  font-size: 22px;
  color: #054d72;
}
.icon-block img {
  margin: 0px auto;
  width: 86%;
  animation: Rotate-reverse 20s linear infinite;
  -webkit-animation: Rotate-reverse 20s linear infinite;
}
.icon-block:first-child {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.icon-block:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
}
.icon-block:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
}
.icon-block:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
/* circle content */
.circle {
  animation: circle-rotate 20s linear infinite;
  -webkit-animation: circle-rotate 20s linear infinite;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  width: 80%;
  height: 80%;
  border: 3px solid #7e807e;
  border-style: dashed;
  border-radius: 50%;
  z-index: -1;
}
.circle .icon-block img {
  animation: img-rotate 20s linear infinite;
  -webkit-animation: img-rotate 20s linear infinite;
}
/* ============================
center logo
============================= */
.center-logo {
  border-radius: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  width: 100%;
}
.main img {
  padding: 4px;
}
.center-logo img {
  padding: 2px;
}
.icon-block:hover {
  height: 65px;
  width: 65px;
}
/* ===========================
keyframe animation
============================= */
@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes Rotate-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes Rotate-reverse {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes circle-rotate {
  from {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(405deg);
  }
}

@-webkit-keyframes circle-rotate {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
  }
}

@keyframes img-rotate {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(-405deg);
  }
}

@-webkit-keyframes img-rotate {
  from {
    -webkit-transform: rotate(-45deg);
  }
  to {
    -webkit-transform: rotate(-405deg);
  }
}
.center-logo img {
  width: 500px;
  max-width: 500px;
}

/* ====================================
book a table css starts
====================================== */
section.book-table {
  background: var(--secondcolor);
  padding: 3rem 0;
}
section.book-table p {
  color: #f9f9f9;
}
.input-group-text {
  background: #fff;
}
input#date, input#time {
  border-radius: 6px;
}
/* ====================================
review section css starts
======================================= */
section.guest-review {
  padding: 4rem 0;
  position: relative;
}
.quotation img {
  width: 50px !important;
  height: 50px;
  object-fit: contain;
  background: var(--maincolor);
  border-radius: 100%;
  padding: 13px;
  position: absolute;
  top: -8%;
  z-index: 11;
  right: 8%;
}
.banner-review-carousel button.owl-prev span,
.banner-review-carousel button.owl-next span {
  background: var(--maincolor);
  padding: 5px 15px;
  border-radius: 100%;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-profile img {
  width: 100px;
  max-width: 75px;
}

.user-profile {
  display: flex;
}

.user-name strong {
  display: flex;
  margin-left: 20px;
  align-items: center;
  color: var(--maincolor);
  margin-top: 1.5rem;
}
.review-box-wrap {
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border: 1px solid; */
  border-radius: 20px;
  margin: 10px;
  /* margin-left: 0; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 30px;
  position: relative;
  margin-right: 3rem;
  margin-top: 3rem;
}
.banner-review-carousel .owl-nav {
  position: absolute;
  top: -4rem;
}

.owl-carousel.owl-theme.banner-review-carousel.owl-loaded.owl-drag {
  margin-top: 5rem;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
  color: #fff;
  text-decoration: none;
}
.social-platform img {
  width: 135px;
  object-fit: cover;
  margin-right: 10px;
}
.social-platform img:nth-child(2) {
  width: 170px;
}

.social-platform img:nth-child(1) {
  width: 100px;
}

.social-platform img:nth-child(3) {
  margin-left: -10px;
}
/* ===============================
top to button scroll css starts
=================================== */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: var(--maincolor);
  color: white;
  border: none;
  border-radius: 100%;
  padding: 12px 20px;
  cursor: pointer;
}

#scrollToTopBtn:hover {
  background-color: var(--maincolor);
}

/* =============================
footer css starts 
================================ */
footer.main-footer {
  background: var(--secondcolor);
  padding-top: 1rem;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
.footer-box.footer-map {
  display: flex;
  justify-content: end;
}
.footer-up {
  padding: 1.5rem 0;
}

.footer-logo img {
  width: 160px;
}

.footer-box p {
  color: #fff;
  padding: 12px 0;
}

ul.imp-link li a,
ul.footer-contact li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  /* letter-spacing: 1px; */
  transition: 0.2s all ease;
  font-size: 16px;
}

ul.imp-link li,
ul.footer-contact li {
  list-style: none;
  padding: 6px 0;
}

ul.footer-contact li i {
  color: #fff;
}

ul.footer-contact li {
  display: flex;
  padding: 6px 0;
  word-break: break-all;
}
a.email-footer {
  text-decoration: underline !important;
}
.footer-h {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}
.scan img {
  background: #fff;
  width: 100px;
  margin-top: 1.5rem;
}
ul.imp-link,
ul.footer-contact,
ul.time-ul,
ul.footer-social-links {
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

ul.footer-social-links li i {
  color: #fff;
  font-size: 25px;
  margin: 6px;
  transition: 0.2s all ease;
  background: #686c68;
  border-radius: 100%;
  padding: 10px;
}

ul.footer-social-links {
  display: flex;
  padding-bottom: 12px;
  justify-content: center;
}

ul.footer-social-links li {
  list-style: none;
  margin-right: 6px;
}

ul.footer-contact li i {
  font-size: 16px;
  margin-right: 10px;
  padding-top: 5px;
}

ul.footer-contact li p a {
  display: block;
}

ul.footer-contact li strong {
  font-size: 16px;
  letter-spacing: 1px;
}

ul.imp-link li i {
  margin-right: 10px;
}

ul.imp-link li a:hover,
ul.footer-contact li a:hover {
  color: #09b724;
}

ul.footer-social-links li i:hover {
  background: #09b724;
  border-radius: 50%;
  padding: 6px;
}

.footer-down {
  padding: 1rem 0;
  border-top: 1px solid #ffffff91;
}

.footer-down p {
  color: #fff;
  padding: 0;
}

.footer-down-policy {
  padding: 12px 0;
}

.footer-down-copyr span {
  color: #09b724;
  font-weight: 700;
}

.footer-down p {
  font-size: 14px;
}

ul.time-ul span {
  color: #fff;
}

ul.time-ul li {
  color: #fff;
  list-style: none;
  padding-bottom: 10px;
}
ul.time-ul p {
  padding: 0;
}

/* ==========================================
about parallax mouse moving effects css starts 
============================================= */
section.food-menu .mouse_move.objects img:nth-child(01) {
  top: 10%;
  left: 10%;
}

section.guest-review .mouse_move.objects img:nth-child(01) {
  top: 10%;
  left: 20%;
}

section.guest-review .mouse_move.objects img:nth-child(02) {
  z-index: -9;
  bottom: 0;
  right: 10%;
}
#circlebanner button.active {
  border: 2px solid var(--maincolor);
  /* padding: 4px; */
}

#circlebanner button.active img {
  box-shadow: #e9831d 0px 7px 29px 0px;
  border-radius: 100%;
}

.two-btn a {
  min-width: 200px;
  max-width: 100%;
}
/* ==========================================
about parallax mouse moving effects css starts 
============================================= */

/* =====================================
Page Loader css starts 
======================================== */
/* Styles for Loader */
/* 20. preloader */
.preloader {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  margin: 0 auto;
}

.preloader .preloader-circle {
  width: 100px;
  height: 100px;
  position: relative;
  border-style: solid;
  border-width: 1px;
  /* border-top-color:$theme-color; */
  border-top-color: var(--maincolor);
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  z-index: 10;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  background-color: #fff;
  -webkit-animation: zoom 2000ms infinite ease;
  animation: zoom 2000ms infinite ease;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.preloader .preloader-circle2 {
  border-top-color: #0078ff;
}

.preloader .preloader-img {
  position: absolute;
  top: 50%;
  z-index: 200;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 6px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.preloader .preloader-img img {
  max-width: 55px;
}

.preloader .pere-text strong{
  font-weight: 800;
  color: #dca73a;
  text-transform: uppercase;
}

@-webkit-keyframes zoom {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .6s;
      -o-transition: .6s;
      transition: .6s;
  }

  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      -webkit-transition: .6s;
      -o-transition: .6s;
      transition: .6s;
  }
}

@keyframes zoom {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .6s;
      -o-transition: .6s;
      transition: .6s;
  }

  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      -webkit-transition: .6s;
      -o-transition: .6s;
      transition: .6s;
  }
}

/* =====================================
Page Loader css starts 
======================================== */

/* ====================================
web banner  breadcrumb
======================================= */
.page-header {
  background: linear-gradient(#ffffff66, #ffffff66), url(../img/food-video.png);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  z-index: -7;
  position: relative;
}
ol.breadcrumb.justify-content-center.text-uppercase a {
  color: var(--maincolor);
  text-decoration: none;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}
.web-banner-wrapper {
  padding: 6rem;
  /* background: #ffffff94; */
  /* margin: 0 5rem; */
  /* backdrop-filter: blur(5px); */
  display: flex;
  justify-content: center;
  align-items: center;
}
strong.typing-text.headlight-h {
  font-family: "Alex Brush", cursive;
  color: #fff;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--maincolor);
}
li.breadcrumb-item a {
  color: var(--maincolor);
  font-weight: 600;
}
.breadcrumb_wrap {
  display: flex;
  align-items: center;
  background: transparent;
  position: relative;
  z-index: 30;
}
.web-banner-wrapper strong {
  color: var(--maincolor);
  font-size: 30px;
}
/* ====================================
web banner css breadcrumb
======================================= */

/* ====================================
ABOUT US CSS STARTS
======================================= */
.bg-shape.grey {
  background-image: url(../img/shape-banner.png);
  position: absolute;
  top: -14px;
  z-index: 18;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  /* background-position: bottom center; */
}
.wrapper-breadcrumb {
  position: relative;
  background: #faf7f2;
}

/* ====================================
ABOUT US CSS STARTS
======================================= */
section.about-page {
  background: #faf7f2;
  position: relative;
  padding: 2rem 0;
}
.philosophy p {
  text-align: center;
}


.separator{
  position:relative;
  width: 100%;
  margin-top:16px !important;
}

.separator:before{
  position:absolute;
  content:'';
  left: 51%;
  top:0px;
  width: 20px;
  height: 2px;
  background-color:var(--maincolor);
}

.separator:after{
  position:absolute;
  content:'';
  right: 51%;
  top:0px;
  width: 20px;
  height:2px;
  background-color:var(--maincolor);
}

.separator span{
  position:absolute;
  left:50%;
  top:-2px;
  width:10px;
  height:5px;
  margin-left:-5px;
  display:inline-block;
  background-color: #09b724;
}

/* ==============================
OUR TEAN
================================= */
section.our-team {
  padding: 2rem 0;
}
.title{
  text-align: center;
  text-transform: capitalize;
  color: var(--maincolor);
  margin: 10px 0;
  position: relative;
}

.title::after{
  content: "";
  position: absolute;
  width: 20%; height: 2px;
  background-image: linear-gradient(to left, transparent 5%, var(--maincolor));
  bottom: -10px; left: 50%;
  transform: translate(-50%);
}

.team-row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.member{
  flex: 1 1 250px;
  margin: 20px;
  text-align: center;
  padding: 20px 10px;
  cursor: pointer;
  max-width: 300px;
  transition: all 0.3s;
}

.member:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transform: translateY(-20px);
}

.member img{
  display: block;
  width: 150px; height: 150px;
  object-fit: cover;
  border:4px solid var(--maincolor);
  border-radius: 50%;
  margin: 0 auto;
}

.member strong{
  text-transform: uppercase;
  font-size: 24px;
  color: var(--maincolor);
  margin: 15px 0;
}

.member p{
  font-size: 15px;
  color: #838383;
  line-height: 1.6;
}
.team-card-social {
  display: flex;
  justify-content: center;
}

.team-card-social-link {
  margin: 0 5px;
  font-size: 20px;
  color: #000; 
  transition: color 0.3s ease;
}

.team-card-social-link:hover {
  color: var(--maincolor); 
}

/* ============counter css starts================ */
.counter-box span {
  font-size: 40px;
  color: var(--maincolor);
  font-weight: 700;
  padding: 1rem 0;
  display: block;
  letter-spacing: 1px;
}

.counter-box strong {
  color: var(--secondcolor);
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 1px;
}
.counter-box {
  text-align: center;
}
/* ============counter css ends================ */

/* ==========================video play css animation==================== */
.add-video {
  position: relative;
  background: url(../img/banner_main.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 2rem;
  /* z-index: -7; */
  height: 300px;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-main {
  position: relative;
}

.video {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: #fff;
  color: #222;
  z-index: 999;
  display: block;
}

@keyframes waves {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

.fa-play:before {
  content: "\f04b";
}

.waves {
  position: absolute;
  width: 150px;
  height: 150px;
  background: var(--maincolor);
  opacity: 0;
  border-radius: 100%;
  right: -50px;
  bottom: -50px;
  z-index: -1;
  animation: waves 3s ease-in-out infinite;
}

.wave-1 {
  animation-delay: 0s;
}

.wave-2 {
  animation-delay: 1s;
}

.wave-3 {
  animation-delay: 2s;
}

.counter-sec {
  padding: 2rem 0;
}

/* ===========================
GALLERY PAGE CSS STARTS 
============================== */
a:hover {
  text-decoration: none;
}

.tm-page-cols-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.tm-page-col-left {
  width: 28.56%;
  max-width: 400px;
}

.tm-page-col-right {
  width: 70%;
  margin-left: auto;
  margin-right: 0;
}

@media (max-width: 991px) {
  .tm-page-cols-container {
    flex-direction: column;
  }
  .tm-page-col-left {
    width: 100%;
    max-width: 100%;
  }

  .tm-page-col-right {
    width: 100%;
  }
}

.tm-gallery {
  margin: -20px -20px 0;
  max-width: 960px;
}

.tm-gallery-item {
  width: 29%;
  margin: 2%;
}

.filters-button-group {
  padding-right: 15px;
}

.tabs {
  list-style: none;
}

.tabs > li > a {
  border: 1px solid #cfd0d1;
  color: #999a9b;
  padding: 20px 25px;
  display: block;
  max-width: 300px;
  margin: 0 auto 30px;
}

.tm-tab-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: transparent;
  vertical-align: middle;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.tabs > li > a.active .tm-tab-icon,
.tabs > li > a:hover .tm-tab-icon {
  background-color: #669999;
}

/* 
  Gallery Item Hover Effect
  https://tympanus.net/codrops/2014/06/19/ideas-for-subtle-hover-effects/
*/

/* Common style */
.tm-gallery-item figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin-bottom: 0;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.tm-gallery-item figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.tm-gallery-item figure figcaption {
  padding: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tm-gallery-item figure figcaption::before,
.tm-gallery-item figure figcaption::after {
  pointer-events: none;
}

.tm-gallery-item figure figcaption,
.tm-gallery-item figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.tm-gallery-item figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.tm-gallery-item figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.tm-gallery-item figure h2 span {
  font-weight: 800;
}

.tm-gallery-item figure h2,
.tm-gallery-item figure p {
  margin: 0;
}

.tm-gallery-item figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
  background: #9e5406;
}

figure.effect-bubba img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
  opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

figure.effect-bubba figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

figure.effect-bubba h2 {
  font-size: 1.5rem;
  padding-top: 20%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}

figure.effect-bubba p {
  width: 100%;
  padding: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media (max-width: 767px) {
  .tm-gallery {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .tm-gallery-item {
    width: 46%;
  }

  .filters-button-group {
    padding-right: 0;
    padding-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .tm-gallery {
    max-width: 280px;
  }

  .tm-gallery-item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
