* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --roboto: "Roboto Condensed", sans-serif;
  --bebas: "Bebas Neue", sans-serif;
  --popin: "Poppins", sans-serif;
  --maincolor: #e9831d;
  --secondcolor: #333533;
}
body {
  font-family: var(--popin);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}
img {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
ul,
li {
  margin: 0;
  padding: 0;
}
b,
strong {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  /* font-family: "Poppins", sans-serif; */
}
.web-tittle {
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 48px;
}
p {
  color: #606060;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.6;
  margin: 0;
  padding: 20px 0;
}

.col-xs-12.col-sm-6.col-md-6 {
  justify-content: center;
  align-items: center;
  display: flex;
}
.small-heading {
  color: var(--maincolor);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  padding: 16px 0;
  display: block;
}

/* ============button css============= */
.default-btn,
.yellow_btn {
  display: inline-block;
  background: var(--maincolor);
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 50px;
  padding: 0 35px;
  letter-spacing: 1px;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  transition: all ease 700ms;
  -moz-transition: all ease 700ms;
  -webkit-transition: all ease 700ms;
  -ms-transition: all ease 700ms;
  -o-transition: all ease 700ms;
  z-index: 1;
  text-transform: uppercase;
  border: 1px solid transparent;
}
.default-btn:hover,
.yellow_btn:hover {
  color: #fff;
  /* border: 1px solid  transparent; */
}
.yellow_btn:hover {
  border: 1px solid var(--maincolor);
}
.default-btn span,
.yellow_btn span {
  background: var(--secondcolor) none repeat scroll 0 0;
  border-radius: 50%;
  display: block;
  height: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: width 0.6s ease 0s, height 0.6s ease 0s;
  -moz-transition: width 0.6s ease 0s, height 0.6s ease 0s;
  -webkit-transition: width 0.6s ease 0s, height 0.6s ease 0s;
  -ms-transition: width 0.6s ease 0s, height 0.6s ease 0s;
  -o-transition: width 0.6s ease 0s, height 0.6s ease 0s;
  width: 0;
  z-index: -1;
}
.default-btn:hover span,
.yellow_btn:hover span {
  height: 562.5px;
  width: 562.5px;
}
.default-btn i,
.yellow_btn i {
  margin-left: 8px;
}
.yellow_btn {
  background: var(--secondcolor);
}
.yellow_btn span {
  background: var(--maincolor) none repeat scroll 0 0;
}
/* ============button css============= */

/* =============about us css starts ================= */
section.cafe-hrs {
  background-image: linear-gradient(#f8f9facf, #f8f9fabf),
    url(../img/demo-2.jpg);
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: 100%;
}
section.abt-food {
  padding: 5.5rem 0 5rem 0;
  background: #fdf3e8;
  position: relative;
}
section.banner_slider img {
  height: 700px;
  width: 100%;
}
.bg-img-top img {
  width: 240px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
}
.bg-img-down img {
  width: 240px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.1;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.abt-food-img {
  width: 100%;
  height: 500px;
  position: relative;
}

.food_1,
.food_2,
.food_3 {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.food_1 {
  width: 55%;
  height: 500px;
  top: -70px;
  right: 0;
  transform: rotate(6deg);
}

.food_2 {
  width: 50%;
  height: 450px;
  bottom: 2rem;
  left: 50px;
}

.food_3 {
  width: 55%;
  height: 250px;
  bottom: -20px;
  right: 0;
}

.food_1 img,
.food_2 img,
.food_3 img {
  height: 100%;
  width: 100%;
}
.abt-food-cntent {
  padding-left: 2rem;
}
.div-two {
  display: flex;
  padding-bottom: 20px;
}

.div-two ul {
  margin: 0;
  padding: 0;
}

.div-two li {
  list-style: none;
  margin-right: 25px;
}

.div-two i {
  color: #e9831d;
  margin-right: 10px;
}

.div-two span {
  color: #010f1c;
  font-size: 15px;
  letter-spacing: 1px;
}
/* =============about us css end ================= */

/* ==============opening hours ================= */
section.cafe-hrs {
  padding: 5rem 0;
  text-align: center;
}

ul.opening_time li {
  list-style: none;
  padding: 20px 0 5px 0;
  border-bottom: 2px solid #7e807e;
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
}

ul.opening_time span {
  font-size: 24px;
  font-weight: 600;
  color: #585958;
}

ul.opening_time {
  padding: 0 18rem;
}
/* ==============opening hours ================= */

/* =======reservation form css starts========== */
.bg-up img {
  width: 100%;
}
.bg-up.u-bg img {
  margin-top: -17rem;
}
.bg-up.d-bg img {
  margin-bottom: -17rem;
  position: relative;
  z-index: 6;
}
.moveable.bckg-up img {
  width: 240px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.moveable.bckg-dwn img {
  width: 240px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
}
section.reserv_wrapper {
  padding: 4rem 0 4rem 0;
  background: #333533;
  position: relative;
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #e9831d;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(233 131 29 / 23%);
}
.custom-select {
  position: relative;
}

.custom-select select {
  padding-right: 30px;
  /* width: 100%; */
}

.custom-select i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
/* Style for the input group */
.input-group {
  position: relative;
}

/* Style for the icon inside the input group */
.input-group i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #7e807e;
}

/* Style for the custom-select */
.custom-select {
  position: relative;
}

/* Style for the icon inside the custom-select */
.custom-select i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 16px; /* Adjust the font size of the icon */
  color: #555; /* Adjust the color of the icon */
}
.form-control,
input,
select#guests,
textarea#message {
  border-radius: 6px !important;
  background: var(--secondcolor);
  color: #7e807e !important;
}
form#contactForm {
  padding: 1rem 0;
}
.reserv_img img {
  width: 100%;
  height: 100%;
  border-radius: 80px 0 80px 0;
}
.reserv_form {
  padding: 0 20px;
}
.reserv_img {
  width: 100%;
  height: 600px;
  padding-right: 60px;
}
/* =======reservation form css end========== */

/* ===========food video css starts =============== */
section.food_video {
  text-align: center;
  position: relative;
}
input::placeholder {
  color: #7e807e !important;
}
section.food_video img {
  width: 100%;
  object-fit: cover;
}

/* ===========circular animation============= */
.item_btn {
  min-height: 76px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  /* background: #fff; */
  border-radius: 100%;
  /* padding: 10px; */
}
.btn_play {
  position: relative;
  display: inline-block;
}
.btn_play span {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  background: #fff;
  border-radius: 100%;
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.btn_play span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  background: url(../img/circular_text.svg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}
.btn_play span::after {
  content: "";
  position: absolute;
  left: 53%;
  top: 50%;
  background: url(../img/icon_play.svg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 24px;
  transform: translate(-50%, -50%);
}
.item.pro-wrap p {
  color: #7b7b7b;
}

.item.pro-wrap strong {
  color: #e9831d;
  font-size: 22px;
}
/* ============testimonials css starts ========== */

.testimonial-box-wrap {
  margin: 2rem 0;
}

.testimonial-boxes {
  position: relative;
  width: 100%;
  padding: 2rem;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
  text-align: left;
  border: 1px solid #ffffff;
  transition: 0.3s ease;
  margin: 2rem 0;
}
.testimonial-boxes:hover {
  border: 1px solid #7c6927;
  transform: translate(0, -2ex);
  /* box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1); */
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #e9831d;
}
.img-peofile {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pro-wrap {
  background: #fff;
  padding: 4rem 1.5rem;
  margin-top: 4rem;
}

.img-peofile img {
  width: 65px !important;
  margin-top: -8rem;
  object-fit: contain;
}
.f-box img {
  width: 220px;
  margin-left: 10px;
}
img.socisl-img-1 {
  width: 160px;
}

img.socisl-img-2 {
  width: 250px;
  margin-left: 30px;
}

.review-platform {
  padding-top: 4rem;
}
img.socisl-img-3 {
  width: 180px;
}

/* ======================reservation form css starts ======================== */

/* =============footer css starts ================== */
footer.main-footer {
  background: #333533;
  padding-top: 1rem;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
.footer-box.footer-map {
  display: flex;
  justify-content: end;
}
.footer-up {
  padding: 1.5rem 0;
}

.footer-logo img {
  width: 160px;
}

.footer-box p {
  color: #fff;
  padding: 12px 0;
}

ul.imp-link li a,
ul.footer-contact li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  transition: 0.2s all ease;
}

ul.imp-link li,
ul.footer-contact li {
  list-style: none;
  padding: 6px 0;
}

ul.footer-contact li i {
  color: #fff;
}

ul.footer-contact li {
  display: flex;
  padding: 6px 0;
}
a.email-footer {
  text-decoration: underline !important;
}
.footer-h {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}
.scan img {
  background: #fff;
  width: 80px;
  margin-top: 1.5rem;
}
ul.imp-link,
ul.footer-contact,
ul.time-ul,
ul.footer-social-links {
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

ul.footer-social-links li i {
  color: #fff;
  font-size: 25px;
  margin: 6px;
  transition: 0.2s all ease;
  background: #686c68;
  border-radius: 100%;
  padding: 10px;
}

ul.footer-social-links {
  display: flex;
  padding-bottom: 12px;
  justify-content: center;
}

ul.footer-social-links li {
  list-style: none;
  margin-right: 6px;
}

ul.footer-contact li i {
  font-size: 16px;
  margin-right: 10px;
  padding-top: 5px;
}

ul.footer-contact li p a {
  display: block;
}

ul.footer-contact li strong {
  font-size: 16px;
  letter-spacing: 1px;
}

.footer-newletter input[type="text"] {
  padding: 6px;
  border: none;
  margin-bottom: 10px;
}

.footer-newletter {
  margin-top: 10px;
}

.news-btn input {
  padding: 8px 56px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.2s all ease;
  color: #fff;
  background: #4d9784;
  border: 1px solid #4d9784;
}

.news-btn input:hover {
  background: transparent;
}

ul.imp-link li i {
  margin-right: 10px;
}

ul.imp-link li a:hover,
ul.footer-contact li a:hover {
  color: #09b724;
}

ul.footer-social-links li i:hover {
  background: #09b724;
  border-radius: 50%;
  padding: 6px;
}

.footer-down {
  padding: 1rem 0;
  border-top: 1px solid #ffffff91;
}

.footer-down p {
  color: #fff;
  padding: 0;
}

.footer-down-policy {
  padding: 12px 0;
}

.footer-down-copyr span {
  color: #09b724;
  font-weight: 700;
}

.footer-down p {
  font-size: 14px;
}

ul.time-ul span {
  color: #fff;
}

ul.time-ul li {
  color: #fff;
  list-style: none;
  padding-bottom: 10px;
}
ul.time-ul p {
  padding: 0;
}

/*===================================*
   START MENU STYLE
*===================================*/
section.food-menu {
  padding: 6rem 0;
}
.menu-list-details button {
  background: transparent;
  border: none;
  color: #e9831d;
}
.menu-list img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}
.menu-list {
  display: flex;
  padding-top: 28px;
}
.menu-list-details strong {
  font-size: 20px;
}
.menu-list-details p {
  padding: 10px 0;
}
.menu-list-details {
  margin-left: 20px;
}
.food-review i,
.food-review strong {
  color: #e9831d;
}
/* .food-review {
  display: flex;
  justify-content: space-between;
} */

.food-review span {
  color: #7e807e;
}
.nav.nav-tab-btn-wrap {
  justify-content: center;
  margin-top: 2rem;
}

.nav-link.nav-tab-btn.active {
  background: #e9831d;
  border: 2px solid;
}

.nav-link.nav-tab-btn {
  font-size: 16px;
  color: #9e9e9e;
  padding: 10px 25px;
  border-radius: 0;
  border: 2px solid;
  margin: 0 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.food-menu-offer-img img {
  width: 100%;
  object-fit: cover;
}

.food-menu-offer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.food-offer-wrap {
  position: relative;
  height: 100%;
}

.food-bg-cap img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 200px;
}
.cap-down img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  width: 200px;
}
.offer-banner img {
  position: absolute;
  top: 270px;
  width: 340px;
  right: -30px;
}
/*===================================*
   END MENU STYLE
*===================================*/
